services:
  - type: web
    name: inventory-manager-backend
    runtime: node
    region: frankfurt
    plan: free
    rootDir: server
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGODB_URI
        sync: false
